@font-face { font-family: 'Noto Sans Symbols'; src: url('./NotoSansSymbols-Regular.ttf'); }
* { box-sizing: border-box; }
html { font-family: 'Noto Sans Symbols', 'Noto Sans', sans-serif; font-size: 14px; }
body { margin: 2rem auto; width: 90%; max-width: 1200px; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
h1 { font-size: 2.489rem; }
h2 { font-size: 2.074rem; }
h3 { font-size: 1.728rem; }
h4 { font-size: 1.440rem; }
h5 { font-size: 1.200rem; }
h6 { font-size: 1.000rem; }
.big-panel>header, #essence>header, #willpower>header, #limit-break>header, #experience>header, #health-levels>header {
    width: 100%; padding: 0.25rem; background-color: #222; text-align: center; letter-spacing: 0.05em; font-variant: small-caps; color: #fff;
}

.flex-container { display: flex; width: 100%; }
.flex-1 { flex: 1; min-width: 0; margin: 0 0.5rem 0 0.5rem; }
.flex-2 { flex: 2; min-width: 0; margin: 0 0.5rem 0 0.5rem; }
.flex-3 { flex: 3; min-width: 0; margin: 0 0.5rem 0 0.5rem; }
.flex-4 { flex: 4; min-width: 0; margin: 0 0.5rem 0 0.5rem; }
.flex-5 { flex: 5; min-width: 0; margin: 0 0.5rem 0 0.5rem; }
.flex-inline { min-width: 0; margin: 0 0.5rem 0 0.5rem; }
.flex-container > div:first-child { margin-left: 0; }
.flex-container > div:last-child { margin-right: 0; }
.centered { width: 100%; text-align: center; }
.ellipsis-overflow { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.blank-line { width: 100%; border-bottom: 2px solid #888888; margin-top: -2px; }
.marks { font-size: 1.440em; line-height: 0.833em; }

/* BigPanel */
.big-panel { margin-bottom: 1rem; }
.big-panel-content { padding-top: 0.25rem; }

/* BigTable */
.big-table > header { font-variant: small-caps; }

/* LittleTable */
.little-table { text-align: center; }
.little-table > header { font-weight: bold; }

/* Marks */
.dot { stroke: #000000; stroke-width: 0.05; }
.dot.filled { fill: #333333; }
.dot.open { fill: #FFFFFF; }
.box { stroke: #000000; stroke-width: 0.05; }
.box-stroke { stroke: #333333; stroke-width: 0.05; }
.box.light { stroke: #BBBBBB; fill: #FFFFFF; }
.box.fill { fill: #333333; }
.box.open, .box.slash, .box.cross, .box.star { fill: #FFFFFF; }

#character { flex: 1; margin-right: 1rem; }
#portrait { margin-top: 1rem; margin-bottom: 1rem; width: 100%; height: 10rem; border: 4px solid #888; }
#limit-break { margin-bottom: 1rem; }
#accumulated-limit { font-size: 1.777rem; }
#health-levels { font-size: 1.333em; }

#essence { font-size: 1.440rem; margin-top: 1rem; }
#essence-rating { font-size: 3.584rem; text-align: center; }
#willpower { font-size: 2.074rem; text-align: center; }
#willpower-rating { margin-bottom: -1.5rem; }
#experience { font-size: 1.728rem; }
#limit-break { text-align: center; }
#limit-accumulated { font-size: 2.074rem; }
#health-levels { font-size: 2.489rem; }
.health-level { width: 70%; margin: auto; }
.health-level-penalty { text-align: right; margin-right: 2rem; }
.health-level-levels { font-size: 1.440em; line-height: 0.833em; }
#stats { flex: 3; margin-left: 1rem; }
#attributes { font-size: 1.728rem; }
#abilities { font-size: 1.200rem; }
.ability-favored { font-weight: bold; }
#specialties { font-size: 1.200rem; }
#merits { font-size: 1.200rem; }
#attacks { font-size: 1.200rem; }
